{% extends 'global/crud/base.html' %}
{% load static %}


<!-- HEAD -->
{% block links %}
	{% include 'partials/layout/head_links.html' %}
{% endblock links %}
{% block script %}
	{% include 'partials/layout/head_scripts.html' %}
{% endblock script %}

<!-- TITLE -->
{% block title %}Gerenciamento{% endblock title %}
	

<!-- CONTEUDO -->
{% block content %}

<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			
			<!-- HEAD TABLE -->
			{% include 'partials/sections/table/head_table.html' %}
				
			<!-- TABLE -->
			{% include 'partials/sections/table/table.html' %}
				
			<!-- PAGINATION -->
			{% include 'partials/pagination/pagination_table.html' %}

		</div>
	</div>        
</div>

<!-- Create Modal HTML -->
{% include 'partials/sections/modal/create_modal.html' %}

<!-- Edit Modal HTML -->
{% include 'partials/sections/modal/edit_modal.html' %}

<!-- Delete Modal HTML -->
{% include 'partials/sections/modal/delete_modal.html' %}


{% endblock content %}